<div class="relative flex flex-auto w-full bg-card dark:bg-transparent">

    <mat-drawer-container
        class="flex-auto h-full"
        [hasBackdrop]="false">

        <!-- Drawer -->
        <mat-drawer
            class="w-full sm:w-100 lg:border-r lg:shadow-none dark:bg-gray-900"
            [autoFocus]="false"
            [(opened)]="drawerOpened"
            #drawer>

            <!-- New chat -->
            <ng-container *ngIf="drawerComponent === 'new-chat'">
                <chat-new-chat [drawer]="drawer"></chat-new-chat>
            </ng-container>

            <!-- Profile -->
            <ng-container *ngIf="drawerComponent === 'profile'">
                <chat-profile [drawer]="drawer"></chat-profile>
            </ng-container>

        </mat-drawer>

        <!-- Drawer content -->
        <mat-drawer-content class="flex overflow-hidden">

            <!-- Chats list -->
            <ng-container *ngIf="getTopics && getTopics.length > 0; else noTopic">
                <div class="relative flex flex-auto flex-col w-full min-w-0 lg:min-w-100 lg:max-w-100 bg-card dark:bg-transparent">

                    <!-- Header -->
                    <div class="flex flex-col flex-0 py-4 px-8 border-b bg-gray-50 dark:bg-transparent">
                        <div class="flex items-center">
                            <div class="flex items-center mr-1 cursor-pointer">
                                <div class="ml-4 font-medium truncate text-2xl">Topic</div>
                            </div>
                            <button
                                class="ml-auto"
                                mat-icon-button
                                (click)="openNewTopic()">
                                <mat-icon [svgIcon]="'heroicons_outline:plus-circle'"></mat-icon>
                            </button>
                        </div>
                        <!-- Search -->
                        <div class="mt-4">
                            <mat-form-field
                                class="fuse-mat-no-subscript fuse-mat-rounded fuse-mat-dense w-full"
                                [floatLabel]="'always'">
                                <mat-icon
                                    matPrefix
                                    class="icon-size-5"
                                    [svgIcon]="'heroicons_solid:search'"></mat-icon>
                                <input
                                    matInput
                                    [autocomplete]="'off'"
                                    [placeholder]="'Search or start new chat'"
                                    (input)="filterChats(searchField.value)"
                                    #searchField>
                            </mat-form-field>
                        </div>
                    </div>

                    <!-- Chats -->
                    <div class="flex-auto overflow-y-auto">
                        <ng-container *ngIf="getTopics.length > 0; else noTopic">
                            <ng-container *ngFor="let topic of getTopics; trackBy: trackByFn">
                                <div
                                    class="z-20 flex items-center py-5 px-8 cursor-pointer border-b"
                                    [ngClass]="{'hover:bg-gray-100 dark:hover:bg-hover': !selectedChat || selectedChat.id !== topic.id,
                                                'bg-primary-50 dark:bg-hover': selectedChat && selectedChat.id === topic.id}"
                                    [routerLink]="[topic.id]">
                                    <div class="relative flex flex-0 items-center justify-center w-10 h-10">
                                        <ng-container>
                                            <div class="flex items-center justify-center w-full h-full rounded-full text-lg uppercase bg-gray-200 text-gray-600 dark:bg-gray-700 dark:text-gray-200">
                                                {{topic.data.name.charAt(0)}}
                                            </div>
                                        </ng-container>
                                    </div>
                                    <div class="min-w-0 ml-4">
                                        <div class="font-medium leading-5 truncate">{{topic.data.name}}</div>
                                        <div
                                            class="leading-5 truncate text-secondary text-primary-500"
                                            [class.text-primary]="topic.data.status > 0"
                                            [class.dark:text-primary-500]="topic.data.status > 0">
                                            {{topic.data.status}}
                                        </div>
                                    </div>
                                    <div class="flex flex-col items-end self-start ml-auto pl-2">
                                        <div class="text-sm leading-5 text-secondary">{{topic.system.updatedAt.split('T')[0]}}</div>
                                        <ng-container *ngIf="topic.data.system?.model">
                                            <mat-icon
                                                class="icon-size-5 text-hint"
                                                [svgIcon]="'heroicons_solid:volume-off'"></mat-icon>
                                        </ng-container>
                                    </div>
                                    <div class="flex flex-col items-end self-start ml-auto pl-2">
                                        <mat-icon
                                            class="icon-size-5 text-hint"
                                            [svgIcon]="'heroicons_solid:dots-vertical'"></mat-icon>
                                    </div>
                                </div>
                            </ng-container>
                        </ng-container>
                    </div>

                </div>

            </ng-container>

            <!-- No chats template -->
            <ng-template #noTopic>
                <div class="flex flex-auto flex-col items-center justify-center h-full">
                    <mat-icon
                        class="icon-size-24"
                        [svgIcon]="'iconsmind:speach_bubble'"></mat-icon>
                    <div class="mt-4 text-2xl font-semibold tracking-tight text-secondary">No Topic</div>
                </div>
            </ng-template>

            <!-- Conversation -->
            <ng-container *ngIf="getTopics && getTopics.length > 0">
                <div
                    class="flex-auto border-l"
                    [ngClass]="{'z-20 absolute inset-0 lg:static lg:inset-auto flex': selectedChat && selectedChat.id,
                                'hidden lg:flex': !selectedChat || !selectedChat.id}">
                    <router-outlet></router-outlet>
                </div>
            </ng-container>

        </mat-drawer-content>

    </mat-drawer-container>

</div>
