<!-- Item wrapper -->
<div
    class="fuse-vertical-navigation-item-wrapper"
    [class.fuse-vertical-navigation-item-has-subtitle]="'subtitle'"
    [ngClass]="item.data.title?.wrapper">

    <div class="fuse-vertical-navigation-item">

        <!-- Icon -->
        <mat-icon
            class="fuse-vertical-navigation-item-icon mr-3 icon-size-1" style="display: inherit!important;"
            [svgIcon]="'heroicons_solid:hashtag'"></mat-icon>

        <!-- Title & Subtitle -->
        <div class="fuse-vertical-navigation-item-title-wrapper">
            <div class="fuse-vertical-navigation-item-wrapper">
                <span [ngClass]="item.data.name?.title" >
                    {{item.data.name}}
                </span>
            </div>
            <div
                class="fuse-vertical-navigation-item-subtitle"
                *ngIf="item.data.description">
                <span [ngClass]="item.data.description?.subtitle">
                    {{item.data.description}}
                </span>
            </div>
        </div>

        <!-- Badge -->
        <div
            class="fuse-vertical-navigation-item-badge"
            *ngIf="item.data.stats">
            <div
                class="fuse-vertical-navigation-item-badge-content ">
                {{item.data.stats.usercount}}
            </div>
        </div>

    </div>

</div>

<!--<ng-container *ngFor="let item of item.children; trackBy: trackByFn">-->

<!--    &lt;!&ndash; Skip the hidden items &ndash;&gt;-->
<!--    <ng-container *ngIf="(item.hidden && !item.hidden(item)) || !item.hidden">-->

<!--        &lt;!&ndash; Basic &ndash;&gt;-->
<!--        <fuse-vertical-navigation-basic-item-->
<!--            *ngIf="item.type === 'basic'"-->
<!--            [item]="item"-->
<!--            [name]="name"></fuse-vertical-navigation-basic-item>-->

<!--        &lt;!&ndash; Collapsable &ndash;&gt;-->
<!--        <fuse-vertical-navigation-collapsable-item-->
<!--            *ngIf="item.type === 'collapsable'"-->
<!--            [item]="item"-->
<!--            [name]="name"-->
<!--            [autoCollapse]="autoCollapse"></fuse-vertical-navigation-collapsable-item>-->

<!--        &lt;!&ndash; Divider &ndash;&gt;-->
<!--        <fuse-vertical-navigation-divider-item-->
<!--            *ngIf="item.type === 'divider'"-->
<!--            [item]="item"-->
<!--            [name]="name"></fuse-vertical-navigation-divider-item>-->

<!--        &lt;!&ndash; Group &ndash;&gt;-->
<!--        <fuse-vertical-navigation-group-item-->
<!--            [item]="item"-->
<!--            [name]="name"></fuse-vertical-navigation-group-item>-->

<!--        &lt;!&ndash; Spacer &ndash;&gt;-->
<!--        <fuse-vertical-navigation-spacer-item-->
<!--            *ngIf="item.type === 'spacer'"-->
<!--            [item]="item"-->
<!--            [name]="name"></fuse-vertical-navigation-spacer-item>-->

<!--    </ng-container>-->

<!--</ng-container>-->
