<!-- Item wrapper -->
<div
    class="fuse-vertical-navigation-item-wrapper"
    [class.fuse-vertical-navigation-item-has-subtitle]="'subtitle'"
    [ngClass]="item.data.title?.wrapper">

    <a class="fuse-vertical-navigation-item cursor-pointer"
       [ngClass]="activeStatus?'fuse-vertical-navigation-item-active':''"  (click)="sideClick(item.id)">
       <ng-container *ngTemplateOutlet="itemContent"></ng-container>
    </a>
    <ng-template #itemContent>
        <!-- Icon -->
        <mat-icon
            class="fuse-vertical-navigation-item-icon mr-3 icon-size-1" style="display: inherit!important;"
            [svgIcon]="'heroicons_solid:hashtag'"></mat-icon>

        <!-- Title & Subtitle -->
        <div class="fuse-vertical-navigation-item-title-wrapper">
            <div class="fuse-vertical-navigation-item-wrapper">
                <span [ngClass]="item.data.name?.title" >
                    {{item.data.name}}
                </span>
            </div>
            <div
                class="fuse-vertical-navigation-item-subtitle"
                *ngIf="item.data.description">
                <span [ngClass]="item.data.description?.subtitle">
                    {{item.data.description}}
                </span>
            </div>
        </div>

        <!-- Badge -->
        <div
            class="fuse-vertical-navigation-item-badge" style="display: inherit!important;"
            *ngIf="item.data['stats']">
            <div
                class="fuse-vertical-navigation-item-badge-content px-2 bg-pink-600 text-white rounded-full ">
                {{item.data['stats']['userCount']}}
            </div>
        </div>
    </ng-template>

</div>


